/* Variables */
/* nav layout */
nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  position: fixed;
  z-index: 1;
}
nav span {
  font-family: "Bungee", cursive, sans-serif;
  font-size: 2rem;
}
nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav div .fa-angle-double-down {
  color: #e63946;
  font-weight: bold;
  cursor: pointer;
}
nav div p {
  margin: 0.5em 0;
}
nav div p span {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  nav .fas {
    display: none;
  }
  nav span {
    margin-top: 1.3rem;
  }
}
